
<%= game_time.html_safe %>
<h3><%= current_monster.fatigue_stress_warning %></h3>

<h2><%= flash[:notice] %></h2>

<ul>
  <li>Training
    <ul>
      <li><%= link_to "Drills", drills_path %></li>
      <li>Errantry</li>
      <li>Sparring</li>
    </ul>
  </li>
  <li><%= link_to "Rest", rest_path, method: 'put' %></li>
  <li>Battle</li>
  <li>Item</li>
  <li><%= link_to "Town", town_path %></li>
</ul>
